<div class="toggler" ng-click="showPanel()">
</div>
<div class="toggler-close" ng-click="closePanel()">
</div>
<div class="theme-options">
  <div class="theme-option theme-colors clearfix">
        <span>
        THEME COLOR </span>

    <ul>
      <li ng-repeat="color in colors" uib-tooltip="{{color.title}}" tooltip-append-to-body="true" class="color-{{color.css}}"
          ng-click="changeColor(color)" ng-class="{'current': (themeSettings.themeColor == color.css)}"></li>
    </ul>
  </div>
  <div class="theme-option">
        <span>
        Theme Style </span>
    <select class="layout-style-option form-control input-sm" ng-model="themeSettings.layoutStyleOption"
            ng-change="changeThemeStyle()">
      <option value="square" selected="selected">Square corners</option>
      <option value="rounded">Rounded corners</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Layout </span>
    <select class="layout-option form-control input-sm" ng-model="themeSettings.layoutOption" ng-change="changeLayout()">
      <option value="fluid" selected="selected">Fluid</option>
      <option value="boxed">Boxed</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Header </span>
    <select class="page-header-option form-control input-sm" ng-model="themeSettings.pageHeaderOption"
            ng-change="changeLayout()">
      <option value="fixed" selected="selected">Fixed</option>
      <option value="default" ng-disabled="themeSettings.sidebarOption === 'fixed'">Default</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Top Menu Dropdown</span>
    <select class="page-header-top-dropdown-style-option form-control input-sm"
            ng-model="themeSettings.pageHeaderTopDropdownStyleOption" ng-change="changeLayout()">
      <option value="light" selected="selected">Light</option>
      <option value="dark">Dark</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Sidebar Mode</span>
    <select class="sidebar-option form-control input-sm" ng-model="themeSettings.sidebarOption" ng-change="changeLayout()">
      <option value="fixed" ng-disabled="themeSettings.sidebarMenuOption === 'hover' || themeSettings.pageHeaderOption ==='default'">Fixed</option>
      <option value="default" selected="selected">Default</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Sidebar Menu </span>
    <select class="sidebar-menu-option form-control input-sm" ng-model="themeSettings.sidebarMenuOption"
            ng-change="changeLayout()">
      <option value="accordion" selected="selected">Accordion</option>
      <option value="hover" ng-disabled="themeSettings.sidebarOption === 'fixed'">Hover</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Sidebar Style </span>
    <select class="sidebar-style-option form-control input-sm" ng-model="themeSettings.sidebarStyleOption"
            ng-change="changeLayout()">
      <option value="default" selected="selected">Default</option>
      <option value="light">Light</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Sidebar Position </span>
    <select class="sidebar-pos-option form-control input-sm" ng-model="themeSettings.sidebarPosOption"
            ng-change="changeLayout()">
      <option value="left" selected="selected">Left</option>
      <option value="right">Right</option>
    </select>
  </div>
  <div class="theme-option">
        <span>
        Footer </span>
    <select class="page-footer-option form-control input-sm" ng-model="themeSettings.pageFooterOption"
            ng-change="changeLayout()">
      <option value="fixed">Fixed</option>
      <option value="default" selected="selected">Default</option>
    </select>
  </div>

  <button class="btn green btn-block" ng-click="reset()">Reset to default</button>

</div>
