<!-- BEGIN HEADER -->
<div data-ng-include="'views/global/header.html'" data-ng-controller="HeaderController"
     class="page-header navbar navbar-fixed-top">
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
  <!-- BEGIN SIDEBAR -->
  <div data-ng-include="'views/global/sidebar.html'" data-ng-controller="SidebarController"
       class="page-sidebar-wrapper">
  </div>
  <!-- END SIDEBAR -->

  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <!-- BEGIN STYLE CUSTOMIZER(optional) -->
      <div data-ng-include="'views/global/theme-panel.html'" data-ng-controller="ThemePanelController"
           class="theme-panel hidden-xs hidden-sm">
      </div>
      <!-- END STYLE CUSTOMIZER -->


      <div>
        <h3 class="page-title">
          {{$state.current.data.title}}
          <small>{{$state.current.data.description}}</small>
        </h3>
        <div class="page-bar">
          <ul class="page-breadcrumb">
            <li>
              <i class="fa fa-home"></i>
              <a href="#/authorised/dashboard">Home</a>
              <i class="fa fa-angle-right"></i>
            </li>
            <li>
              <span>{{$state.current.data.title}}</span>
            </li>
          </ul>
        </div>
        <!-- BEGIN ACTUAL CONTENT -->
        <div class="row" ui-view>
          <!-- END ACTUAL CONTENT -->
        </div>
      </div>

    </div>
  </div>
  <!-- END CONTENT -->

  <!-- BEGIN QUICK SIDEBAR -->
  <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>

  <div data-ng-include="'views/global/quick-sidebar.html'" data-ng-controller="QuickSidebarController"
       class="page-quick-sidebar-wrapper"></div>
  <!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->

<!-- BEGIN FOOTER -->
<div data-ng-include="'views/global/footer.html'" data-ng-controller="FooterController" class="page-footer">
</div>
<!-- END FOOTER -->
