<div class="col-md-12">
<portlet class="bordered light">
<portlet-title>
  <portlet-caption class="font-green-sharp">
    <i class="icon-settings font-green-sharp"></i>
    <span class="caption-subject bold uppercase">Performance</span>
    <span class="caption-helper">{{description}}</span>
  </portlet-caption>
</portlet-title>
<portlet-body>
<form name="customerForm" class="horizontal-form">
<form-body>
<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem1" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[0] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem1}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem2" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[1] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem2}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem3" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[2] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem3}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem4" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[3] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem4}}
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem5" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[4] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem5}}
    </p>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem6" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[5] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem6}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem7" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[6] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem7}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem8" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[7] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem8}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem9" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[8] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem9}}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <form-group>
      <ui-select ng-model="selectedObjects.selectedItem10" ng-disabled="disabled">
        <ui-select-match placeholder="Please select a item">
          {{$select.selected.text}}
        </ui-select-match>
        <ui-select-choices repeat="item in list[9] | filter: $select.search">
          {{item.text}}
        </ui-select-choices>
      </ui-select>
    </form-group>
  </div>
  <div class="col-md-6">
    <p class="form-control-static">
      {{selectedObjects.selectedItem10}}
    </p>
  </div>
</div>
</form-body>
</form>
</portlet-body>
</portlet>
</div>
