<div class="col-md-12">
  <portlet class="bordered light">
    <portlet-title>
      <portlet-caption class="font-green-sharp">
        <i class="icon-settings font-green-sharp"></i>
        <span class="caption-subject bold uppercase">CUSTOMERS</span>
        <span class="caption-helper">Customer list</span>
      </portlet-caption>
      <portlet-actions>
        <button class="btn default btn-xs green-stripe" uib-tooltip="Open Or Close Filter"
                ng-click="toggleSearchArea()">
          <i class="fa fa-filter"></i> Filter
        </button>
        <button class="btn default btn-xs purple-stripe" uib-tooltip="Refresh Data"
                ng-click="onPageChanged()">
          <i class="fa fa-repeat"></i> Refresh
        </button>
        <button class="btn default btn-xs red-stripe" uib-tooltip="Create new customer in modal dialog mode" ng-click="create()">
          <i class="fa fa-plus"></i> Create
        </button>
        <a class="btn default btn-xs red-stripe" uib-tooltip="Create new customer in new page mode" ui-sref="authorised.createcustomer({page:10})">
          <i class="fa fa-plus"></i> Create2
        </a>

      </portlet-actions>
    </portlet-title>
    <portlet-body>
      <portlet-body ng-class="{'display-hide': !isSearchAreaOpened}">
        <!-- search params -->
        <form>
          <div class="row">
            <div class="col-md-6">
              <form-group>
                <label class="control-label">Company Name:</label>
                <input type="text" class="form-control" ng-model="searchCriteria.companyName">
              </form-group>
            </div>
            <div class="col-md-6">
              <form-group>
                <label class="control-label">Contact Name:</label>
                <input type="text" class="form-control" ng-model="searchCriteria.contactName">
              </form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form-group>
                <label class="control-label">Region:</label>
                <ui-select ng-model="searchCriteria.region" ng-disabled="disabled">
                  <ui-select-match placeholder="Please select a country">
                    <img class="flag" ng-src="{{$select.selected.flag}}"> {{$select.selected.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="region.id as region in regions | filter: $select.search"
                                     refresh="refreshRegions($select.search)"
                                     refresh-delay="0">
                    <img class="flag" ng-src="{{region.flag}}"> {{region.name}}
                  </ui-select-choices>
                </ui-select>
              </form-group>
            </div>
            <div class="col-md-6">
              <form-group>
                <label class="control-label">Status:</label>

                <div class="input-group">
                  <checkbox ng-repeat="item in status"
                            class="checkbox-inline checkbox-info"
                            ng-text="item.name"
                            ng-model="item.selected">
                  </checkbox>
                </div>
              </form-group>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="control-group pull-right">
                <button class="btn btn-primary" ng-click="search()">Search</button>
                <button class="btn btn-default" ng-click="reset()">Reset</button>
              </div>

            </div>
          </div>


        </form>
      </portlet-body>
      <portlet-body>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th> #</th>
              <th> Company Name</th>
              <th> Contact Name</th>
              <th> Email</th>
              <th class="centered"> Gender</th>
              <th>Mobile</th>
              <th> Status</th>
              <th class="centered">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="customer in customers">
              <td>{{ pagination.size*(pagination.page - 1) + $index + 1}}</td>
              <td><img ng-src="images/global/flags/{{customer.region}}.png">&nbsp;&nbsp;{{customer.companyName}}</td>
              <td>{{customer.contactName}}</td>
              <td>{{customer.email}}</td>
              <td ng-bind-html="customer.gender | genderDecoder" class="centered"
                  uib-tooltip="use filter to convert value to icon"></td>
              <td>{{customer.mobile}}</td>
              <td><span class="label label-sm" ng-class="{
										'label-success': customer.status=='approved',
										'label-danger': customer.status=='blocked',
										 'label-info': customer.status=='pending',
										 'label-warning': customer.status=='suspended'}">
                      {{customer.status}} </span></td>
              <td class="centered">
                <button class="btn default btn-xs purple-stripe" uib-tooltip="Edit Customer in modal dialog mode" ng-click="edit(customer)">
                  <i class="fa fa-edit"></i> Edit
                </button>
                <a class="btn default btn-xs purple-stripe" uib-tooltip="Edit Customer in new page mode" ui-sref="authorised.editcustomer({id:customer.id})">
                  <i class="fa fa-edit"></i> Edit2
                </a>
                <button class="btn default btn-xs red-stripe" uib-tooltip="Delete Customer" ng-click="delete(customer.id)">
                  <i class="fa fa-trash-o"></i> Delete
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
        <div class="row">
          <div class="col-md-12">
            <uib-pagination
              total-items="pagination.count"
              ng-model="pagination.page"
              max-size="pagination.max"
              items-per-page="pagination.size"
              ng-change="onPageChanged()"
              rotate="false"
              class="pagination-sm pull-right"
              boundary-links="true"></uib-pagination>
          </div>
        </div>

      </portlet-body>
    </portlet-body>
  </portlet>
</div>
