<div class="col-md-12">
  <portlet class="bordered light">
    <portlet-title>
      <portlet-caption class="font-green-sharp">
        <i class="icon-settings font-green-sharp"></i>
        <span class="caption-subject bold uppercase">Performance</span>
        <span class="caption-helper">{{description}}</span>
      </portlet-caption>
    </portlet-title>
    <portlet-body>
      <form name="customerForm" class="horizontal-form">
        <form-body>
          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem1" ng-options="item.text for item in list[0]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem1}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem2" ng-options="item.text for item in list[1]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem2}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem3" ng-options="item.text for item in list[2]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem3}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem4" ng-options="item.text for item in list[3]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem4}}
              </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem5" ng-options="item.text for item in list[4]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem5}}
              </p>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem6" ng-options="item.text for item in list[5]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem6}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem7" ng-options="item.text for item in list[6]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem7}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem8" ng-options="item.text for item in list[7]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem8}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem9" ng-options="item.text for item in list[8]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem9}}
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <form-group>
                <select ng-model="selectedObjects.selectedItem10" ng-options="item.text for item in list[9]"></select>
              </form-group>
            </div>
            <div class="col-md-6">
              <p class="form-control-static">
                {{selectedObjects.selectedItem10}}
              </p>
            </div>
          </div>
        </form-body>
      </form>
    </portlet-body>
  </portlet>
</div>
