<!--div radio
                ng-model="customer.gender"
                value="male"
                class="radio-danger radio-inline"
                ng-disabled="expression"
                ng-value="genders.male"
                ng-text="'Male'"
                ng-change="onRadioChanged()">
</div-->

<div class="col-md-12">

  <h3 class="form-section">Styling</h3>

  <div class="note note-success">
    <h4>Supports bootstrap brand colors:</h4>

    <p>
      <code>.radio-primary</code>

      <code>.radio-success</code>

      <code>.radio-info</code>

      <code>.radio-warning</code>

      <code>.radio-danger</code>
    </p>


  </div>
  <div class="row">
    <div class="col-md-4">
      <div radio
           value="1"
           ng-text="'default'"
           ng-model="selectedOption1">
      </div>
      <div radio
           class="radio-primary"
           value="2"
           ng-text="'primary'"
           ng-model="selectedOption1">
      </div>

    </div>
    <div class="col-md-4">
      <div radio
           class="radio-info"
           value="3"
           ng-text="'info'"
           ng-model="selectedOption1">
      </div>
      <div radio
           class="radio-warning"
           value="4"
           ng-text="'warning'"
           ng-model="selectedOption1">
      </div>

    </div>
    <div class="col-md-4">
      <div radio
           class="radio-success"
           value="5"
           ng-text="'success'"
           ng-model="selectedOption1">
      </div>
      <div radio
           class="radio-danger" value="6"
           ng-text="'danger'"
           ng-model="selectedOption1">
      </div>
    </div>

  </div>
</div>

<div class="col-md-12">

  <h3 class="form-section">Inline Mode</h3>

  <div class="note note-success">
    <h4>set class .radio-inline on radio directive to allowed inline</h4>
  </div>
  <div class="input-group">
    <div radio
         value="1"
         class="radio-inline"
         ng-text="'default'"
         ng-model="selectedOption1">
    </div>
    <div radio
         class="radio-primary radio-inline"
         value="2"
         ng-text="'primary'"
         ng-model="selectedOption1">
    </div>


    <div radio
         class="radio-info radio-inline"
         value="3"
         ng-text="'info'"
         ng-model="selectedOption1">
    </div>
    <div radio
         class="radio-warning radio-inline"
         value="4"
         ng-text="'warning'"
         ng-model="selectedOption1">
    </div>


    <div radio
         class="radio-success radio-inline"
         value="5"
         ng-text="'success'"
         ng-model="selectedOption1">
    </div>
    <div radio
         class="radio-danger radio-inline"
         value="6"
         ng-text="'danger'"
         ng-model="selectedOption1">
    </div>
  </div>
</div>

<div class="col-md-12">

  <h3 class="form-section">ng-disabled</h3>

  <div class="note note-success">
    <h4><code>ng-disabled</code> for enable or disable checkbox</h4>

    <p>

    <div checkbox
         class="checkbox-inline"
         ng-text="'Click to enable or disable radio'"
         ng-model="disabledRadio">
    </div>
    </p>
  </div>
  <div class="input-group">
    <div radio
         value="1"
         class="radio-inline"
         ng-text="'default'"
         ng-disabled="disabledRadio"
         ng-model="selectedOption1">
    </div>
    <div radio
         class="radio-primary radio-inline"
         value="2"
         ng-text="'primary'"
         ng-disabled="disabledRadio"
         ng-model="selectedOption1">
    </div>


    <div radio
         class="radio-info radio-inline"
         value="3"
         ng-text="'info'"
         ng-disabled="disabledRadio"
         ng-model="selectedOption1">
    </div>
    <div radio
         class="radio-warning radio-inline"
         value="4"
         ng-text="'warning'"
         ng-disabled="disabledRadio"
         ng-model="selectedOption1">
    </div>


    <div radio
         class="radio-success radio-inline"
         value="5"
         ng-text="'success'"
         ng-disabled="disabledRadio"
         ng-model="selectedOption1">
    </div>
    <div radio
         class="radio-danger radio-inline"
         value="6"
         ng-text="'danger'"
         ng-disabled="disabledRadio"
         ng-model="selectedOption1">
    </div>
  </div>
</div>

<div class="col-md-12">
  <h3 class="form-section">ng-value</h3>

  <div class="note note-success">
    <h4>Use ng-value to set radio's value</h4>

    <p>
      $scope.selectedGender: {{selectedGender}}
    </p>
  </div>

  <div class="input-group">
    <div radio
         class="radio-info radio-inline"
         ng-text="'Male'"
         ng-model="selectedGender"
         ng-value="male">
    </div>
    <div radio
         class="radio-danger radio-inline"
         ng-text="'Female'"
         ng-model="selectedGender"
         ng-value="female">
    </div>
  </div>
</div>

<div class="col-md-12">
  <h3 class="form-section">Radio list</h3>

  <div class="note note-success">
    <h4>Radio list</h4>

    <p>$scope.selectedOption: {{selectedOption}}</p>

    <p><span class="label label-danger">
							NOTE: ng-repeat is special</span> <code>radio</code> in <code>ng-repeat</code> the <code>ng-model</code>
      must be <code>$parent.your-model-want-to bind</code></p>
  </div>

  <div ng-repeat="option in options" radio
       class="radio-info radio-inline"
       ng-text="option.name"
       ng-model="$parent.selectedOption"
       ng-value="option"
    >
  </div>
</div>


<div class="col-md-12">
  <h3 class="form-section">ng-change</h3>

  <div class="note note-success">
    <h4>set ng-change property, it will cause callback while on select changed</h4>
  </div>

  <div ng-repeat="option in options" radio
       class="radio-info radio-inline"
       ng-text="option.name"
       ng-model="$parent.selectedOption2"
       ng-value="option"
       ng-change="onRadioChanged()">
  </div>
</div>

