<div class="col-md-12">
  <portlet class="bordered light">
    <portlet-title>
      <portlet-caption class="font-green-sharp">
        <i class="icon-settings font-green-sharp"></i>
        <span class="caption-subject bold uppercase">Performance</span>
        <span class="caption-helper">{{description}}</span>
      </portlet-caption>
    </portlet-title>
    <portlet-body>
      <div class="table-responsive">
        <table class="table dataTable">
          <thead>
          <tr>
            <th> #</th>
            <th> Column 1</th>
            <th> Column 2</th>
            <th> Column 3</th>
            <th> Column 4</th>
            <th> Column 5</th>
            <th> Column 6</th>
            <th> Column 7</th>
            <th> Column 8</th>
            <th> Column 9</th>
            <th> Column 10</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat-start="item in data">
            <td rowspan="2">{{ $index + 1}}</td>
            <td><input type="text" class="form-control" ng-model="item.column1">
            </td>
            <td><input type="text" class="form-control" ng-model="item.column2"></td>
            <td><input type="text" class="form-control" ng-model="item.column3"></td>
            <td><input type="text" class="form-control" ng-model="item.column4"></td>
            <td><input type="text" class="form-control" ng-model="item.column5"></td>
            <td><input type="text" class="form-control" ng-model="item.column6"></td>
            <td><input type="text" class="form-control" ng-model="item.column7"></td>
            <td><input type="text" class="form-control" ng-model="item.column8"></td>
            <td><input type="text" class="form-control" ng-model="item.column9"></td>
            <td><input type="text" class="form-control" ng-model="item.column10"></td>
          </tr>
          <tr ng-repeat-end>
            <td colspan="2">{{item.column1 + '+' + item.column2}}</td>
            <td colspan="2">{{item.column3 + '+' + item.column4}}</td>
            <td colspan="2">{{item.column5 + '+' + item.column6}}</td>
            <td colspan="2">{{item.column7 + '+' + item.column8}}</td>
            <td colspan="2">{{item.column9 + '+' + item.column10}}</td>
          </tr>
          </tbody>
        </table>

      </div>


    </portlet-body>
</div>
