<div class="col-md-12">

  <div class="portlet box blue">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-gift"></i>Examples
      </div>
    </div>
    <div class="portlet-body form">
      <!-- BEGIN FORM-->
      <form action="#" class="horizontal-form">
        <div class="form-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Default</label>

                <div datepicker2 ng-model="selectedDate1" class="input-medium" uib-tooltip="default"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Change format</label>

                <div datepicker2 ng-model="selectedDate2" class="input-medium" data-format="D, d/M/yyyy" uib-tooltip="data-format='D, d/M/yyyy'"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Show today btn</label>

                <div datepicker2 ng-model="selectedDate3" class="input-medium" data-today-btn="true" uib-tooltip="data-today-btn='true'"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Date range: from 2015-10-09 to 2015-10-28</label>

                <div datepicker2 ng-model="selectedDate4" class="input-medium" data-start-date="2015-10-09"
                     data-end-date="2015-10-28" uib-tooltip="data-start-date='2015-10-09' data-end-date='2015-10-28'"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Allow edit</label>
                <div datepicker2 ng-model="selectedDate5" class="input-medium" data-allow-edit="true" uib-tooltip="data-allow-edit='true'"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">No addon icon</label>

                <div datepicker-without-addon ng-model="selectedDate6" class="input-medium" uib-tooltip="using directive datepicker-without-addon"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-12">
  <h3 class="form-section">Options</h3>

  <div class="note note-success">

    <h4>We have implemented datepicker2 directive for angular.js it's based on <a
      href="http://bootstrap-datepicker.readthedocs.org/en/stable/options.html" target="_blank">bootstrap-datepicker</a>
    </h4>
    <h5>The default options for datepicker2 as below:</h5>

    <p>
      autoclose: true,<br>
      beforeShowDay: angular.noop,<br>
      beforeShowMonth: angular.noop,<br>
      calendarWeeks: false,<br>
      clearBtn: true,<br>
      toggleActive: false,<br>
      daysOfWeekDisabled: [],<br>
      datesDisabled: [],<br>
      endDate: Infinity,<br>
      forceParse: true,<br>
      format: 'yyyy-mm-dd',<br>
      keyboardNavigation: true,<br>
      language: 'en',<br>
      minViewMode: 0,<br>
      multidate: false,<br>
      multidateSeparator: ',',<br>
      orientation: "auto",<br>
      rtl: false,<br>
      startDate: -Infinity,<br>
      startView: 0,<br>
      todayBtn: false,<br>
      todayHighlight: true,<br>
      weekStart: 0,<br>
      disableTouchKeyboard: false,<br>
      enableOnReadonly: true,<br>
      container: 'body'
    </p>
  </div>


</div>
