<div class="col-md-12">
  <portlet ng-class="['bordered','light']">
    <portlet-title>
      <div class="caption font-green-sharp">
        <i class="icon-settings font-green-sharp"></i>
        <span class="caption-subject bold uppercase">TASKS</span>
        <span class="caption-helper">My task list - </span>
      </div>
      <portlet-tools>
        <a class="collapse">
        </a>
        <a class="config">
        </a>
        <a class="reload">
        </a>
        <a class="fullscreen">
        </a>
        <a class="remove">
        </a>
      </portlet-tools>
      <portlet-actions>
        <a href="#" class="btn yellow">
          <i class="fa fa-pencil"></i> Edit </a>
        <a href="#" class="btn green">
          <i class="fa fa-plus"></i> Add </a>
      </portlet-actions>
    </portlet-title>
    <portlet-body>

      <form role="form" ng-submit="addTask()">
        <p class="input-group">
          <input type="text" ng-model="newTask.name" placeholder="What needs to be done?" class="form-control">
            <span class="input-group-btn">
              <input type="submit" class="btn green" value="+">
            </span>
        </p>
      </form>

      <div>
        <p class="input-group" ng-repeat="task in tasks">
          <input type="text" ng-model="task.taskName" class="form-control" ng-blur="updateTask($index)"
                 title="更新时间:{{task.updateTime}}">
            <span class="input-group-btn">
              <button class="btn btn-danger" ng-click="deleteTask($index)" aria-label="Remove">X</button>
            </span>
        </p>
      </div>
    </portlet-body>
  </portlet>
</div>

